<div class="container bucket">
  <%= link_to "My Profile", my_profile_path(current_user), class: "blue-button my-profile-button" %>

  <div id="bucket-form">
    <%= render 'form' %>
  </div>

  <% if @buckets.empty? %>
    <div class="row">
      <div class="col-8 empty-buckets">
        <%= image_tag "outer_space_drqu.svg", class: "empty-buckets-image" %>
        <br><br>
        <h2><strong>Take off with your dreams! <br> Start your first bucket <i class="fas fa-smile-beam"></i></h2></strong>
      </div>
    </div>
  <% else %>
    <div class="row bucket-wrap">
      <% @buckets.each do |bucket| %>
        <div class="no-padding col-sm-12 col-md-6 col-lg-4">
            <%= link_to bucket_activities_path(bucket) do %>
              <div class="bucket-card">
                <div class="bucket-image" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.4)0%,rgba(0,0,0,0.2)50%), url('<%= bucket.photo %>');"></div>
                <h2 class="bucket-text"><%= bucket.title %></h2>
              </div>
            <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
