<div class="container-fluid">
  <div class="offer-header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @activity.photo %>');">
    <h1 class="title"><strong><%= @activity.title %></strong></h1>
  </div>
</div>
<div class="container activity-banner">
  <div class="activity-details p-4">
    <h5><strong>Budget:</strong> <%= @activity.budget %>€</h5>
    <h5><strong>Location:</strong> <%= @activity.location %></h5>
    <h5><strong>Time frame:</strong> <%= @activity.time_frame %> days</h5>
    <h5><strong>People number:</strong> <%= @activity.people_number %></h5>
    <h5><strong>Category:</strong> <%= @activity.category %></h5>

    <%= link_to bucket_activities_path do %>
      <i class="fas fa-undo-alt"></i>Back
    <% end %>
    <%= link_to edit_bucket_activity_path do %>
      <i class="fas fa-edit"></i>Edit
    <% end %>
    <%= link_to bucket_activity_path(@bucket), method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fas fa-trash-alt"></i>Delete
    <% end %>
  </div>
</div>
<div class="offer-container">
  <div class="row bucket-wrap">
    <% @offers.each_with_index do |offer, index| %>
      <div class="col-sm">
        <%= link_to offer.skyscanner_link, target: :_blank, class: "offer-link" do %>
          <div class="offer-link offer-card p-4">
            <div class="offer-title d-flex">
            </div>
            <div class="offer-destination d-flex justify-content-between">
              <p class="pr-2"><%= offer.origin %>  <i class="fas fa-arrow-right"></i>  <%= offer.destination %></p>
            </div>
            <div class="offer-carrier">
              <p>Airline: <%= offer.flight_carrier %> </p>
            </div>
              <p class="pr-1">Departure: <%= offer.start_date %></p>
              <p>Return: <%= offer.end_date %> </p>
            <div class="offer-title d-flex justify-content-between align-content-center">
              <h3 class="price-tag">
                <%= offer.price.to_i %>€
              </h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
